@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

a{
    color: rgb(52, 180, 180);
    text-decoration: none;
}
a:hover {
    color: darkorchid;
    font-size: 20px;
    text-decoration:underline;
}

.btn{
    background: #8fd9a8;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.btn:hover{
    font-size: 19px;
    background: #6ae994;
}
.btn.btn-todo-mal{
    background: red;
    margin: 1rem;
}